*
!build.zig
!build.zig.zon
!LICENSE
!README.md
!include/
!include/**
!npm/
!npm/platforms/
!npm/platforms/**
!npm/zevm/
!npm/zevm/native/
!npm/zevm/native/**
!npm/zevm/scripts/
!npm/zevm/scripts/**
!npm/zevm/src/
!npm/zevm/src/**
!npm/zevm/package-lock.json
!npm/zevm/package.json
!npm/zevm/README.md
!npm/zevm/tsconfig.json
!src/
!src/**
!tools/
!tools/**
!docs/
!docs/specs/
!docs/specs/qualification/
!docs/specs/qualification/**
!hive/
!hive/clients/
!hive/clients/zevm/
!hive/clients/zevm/**
