[submodule "execution-specs"]
	path = execution-specs
	url = https://github.com/ethereum/execution-specs
[submodule "execution-apis"]
	path = execution-apis
	url = https://github.com/ethereum/execution-apis.git
[submodule "ethereum-tests"]
	path = ethereum-tests
	url = https://github.com/ethereum/tests.git
[submodule "hive"]
	path = hive
	url = https://github.com/ethereum/hive.git
[submodule "consensus-specs"]
	path = consensus-specs
	url = https://github.com/ethereum/consensus-specs.git
[submodule "EIPs"]
	path = EIPs
	url = https://github.com/ethereum/EIPs.git
[submodule "yellowpaper"]
	path = yellowpaper
	url = https://github.com/ethereum/yellowpaper.git
[submodule "execution-spec-tests"]
	path = execution-spec-tests
	url = https://github.com/ethereum/execution-spec-tests.git
[submodule "foundry"]
	path = foundry
	url = https://github.com/foundry-rs/foundry.git
[submodule "hardhat"]
	path = hardhat
	url = https://github.com/NomicFoundation/hardhat.git
[submodule "edr"]
	path = edr
	url = https://github.com/NomicFoundation/edr.git
[submodule "docs/references/smithers"]
	path = docs/references/smithers
	url = https://github.com/codeplaneapp/smithers
